  <br />
  <div class="container">
    <h5 class="card-header" style="background-color: gray; color:white"> Déclarer un problème</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <div class="card-text">
        <form class="form-horizontal"
        novalidate
        (ngSubmit)= "save()"
        [formGroup]="problemeForm">
          <div class="form-group row">
            <label for="prenom" class="col-md-2 col-form-label text-right">Prénom :</label>
            <div class="col-md-10">
              <input class="form-control"
              id="prenom"
              type="text"
              placeholder="Nom du probleme (obligatoire)"
              formControlName="prenom"
              [ngClass]="{'is-invalid': (problemeForm.get('prenom').touched ||
              problemeForm.get('prenom').dirty) &&
              !problemeForm.get('prenom').errors.longueurMinimum,
              'is-valid':(problemeForm.get('prenom').touched ||
              problemeForm.get('prenom').dirty &&
              problemeForm.get('prenom').errors.longueurMinimum)}" />
              <span class="form-text" *ngIf="(problemeForm.get('prenom').touched ||
                problemeForm.get('prenom').dirty) &&
                problemeForm.get('prenom').errors">
                <span *ngIf="!problemeForm.get('prenom').errors.longueurMinimum && !problemeForm.get('prenom').errors.required">
                  <small class="text-muted">
                    Indiquer au moin 3 caractères.
                  </small>
                </span>
                <span *ngIf="problemeForm.get('prenom').errors.required">
                  <small class="text-muted">
                    Indiquer votre prénom.
                  </small>
                </span>
              </span>
            </div>
          </div>
        </form>
      </div>
      
    </div>
  </div>
  
