  <br />
  <div class="container">
    <h5 class="card-header" style="background-color: gray; color:white">Déclarer un problème</h5>
    <div class="card-body">
      <h5 class="card-title">Gestion problème</h5>
      <div class="card-text">
        <form class="form-horizontal"
        novalidate
        (ngSubmit)= "save()"
        [formGroup]="problemeForm">
          <div class="form-group row">
            
            <label for="prenom" class="col-md-2 col-form-label text-right">Prénom :</label>
            <div class="col-md-10">
              <input class="form-control"
              id="prenom"
              type="text"
              placeholder="Prénom (obligatoire)"
              formControlName="prenom"
              [ngClass]="{'is-invalid': (problemeForm.get('prenom').touched ||
              problemeForm.get('prenom').dirty) &&
              !problemeForm.get('prenom').valid,
              'is-valid':(problemeForm.get('prenom').touched ||
              problemeForm.get('prenom').dirty &&
              problemeForm.get('prenom').valid)}" />
              <span class="form-text" *ngIf="(problemeForm.get('prenom').touched ||
                problemeForm.get('prenom').dirty) &&
                problemeForm.get('prenom').errors">
                <span *ngIf="!problemeForm.get('prenom').errors?.longueurMinimum && !problemeForm.get('prenom').errors.required">
                  <small class="text-muted">
                    Indiquer au moin 3 caractères.
                  </small>
                </span>
                <span *ngIf="problemeForm.get('prenom').errors.required">
                  <small class="text-muted">
                    Indiquer votre prénom.
                  </small>
                </span>
              </span>
              <br />
            </div>
            </div>
            <div class="form-group row">
            <label for="nom" class="col-md-2 col-form-label text-right">Nom :</label>
            <div class="col-md-10">
              <input class="form-control"
              id="nom"
              type="text"
              placeholder="Nom (obligatoire)"
              formControlName="nom"
              [ngClass]="{'is-invalid': (problemeForm.get('nom').touched ||
              problemeForm.get('nom').dirty) &&
              !problemeForm.get('nom').valid,
              'is-valid':(problemeForm.get('nom').touched ||
              problemeForm.get('nom').dirty &&
              problemeForm.get('nom').valid)}" />
              <span class="form-text" *ngIf="(problemeForm.get('nom').touched ||
                problemeForm.get('nom').dirty) &&
                problemeForm.get('nom').errors">
                <span *ngIf="!problemeForm.get('nom').errors?.longueurMinimum && !problemeForm.get('nom').errors.required">
                  <small class="text-muted">
                    Indiquer au moin 3 caractères.
                  </small>
                </span>
                <span *ngIf="problemeForm.get('nom').errors.required">
                  <small class="text-muted">
                    Indiquer votre nom.
                  </small>
                </span>
              </span>
              <br />
            </div>
          </div>
          <div class="form-group row">
            <label for="noTypeID" class="col-md-2 col-form-label text-rigth">Type de problème :</label>
            <div class="col-sm-10">
              <select class="form-control" id="noTypeId" formControlName="noType"
              [ngClass]="{'is-invalid': (problemeForm.get('noType').touched ||
              problemeForm.get('noType').dirty) &&
              !problemeForm.get('noType').valid,
              'is-valid':(problemeForm.get('noType').touched ||
              problemeForm.get('noType').dirty &&
              problemeForm.get('noType').valid)}" >
                <option value="">Sélectionner un type de problème</option>
                <option *ngFor="let cat of typeProbleme" [value]="cat.id">{{cat.descriptionType}}</option>
              </select>
              <span class="form-text" *ngIf="(problemeForm.get('noType').touched ||
                problemeForm.get('noType').dirty) &&
                problemeForm.get('noType').errors">
                <span *ngIf="!problemeForm.get('noType').valid">
                  <small class="text-muted">
                    Sélectionner un type de problème.
                  </small>
                </span>
              </span>
            </div>
            
          </div>
          <!-- Bouton radio -->
          <div class="form-group row">
            <div class="col-md-2"></div>
              <label for ="notificationId" class ="col-md-10 col-form-label">Choix de la notification :</label>
              <div class="col-md-2"></div>
              <div class="col-md-10">
                  <label class="radio-inline">
                    <input type="radio"
                           value="NePasMeNotifier"
                           id="notificationMoiId"
                           formControlName="notifier">&nbsp;Ne pas me notifier
                  </label>
                  &nbsp;&nbsp;&nbsp;
                  <label class="radio-inline">
                    <input type="radio"
                           value="MeNotifierTelephone"
                           id="notificationMoiId"
                           formControlName="notifier">&nbsp;Notifier par Téléphone
                  </label>
                  &nbsp;&nbsp;&nbsp;
                  <label class="radio-inline">
                    <input type="radio"
                           value="MeNotifierCourriel"
                           id="notificationMoiId"
                           formControlName="notifier">&nbsp;Notifier par Courriel
                  </label>            
            </div>
          </div>
          <!-- Zone Telephone -->
          <div class="form-group row">
            <label for="telehponeID" class="col-md-2 col-form=label text-right">Teléphone :</label>
            <!-- Indiquer le formGroupName -->
            <div class="col-md-4">
              <input class="form-control"
              id="telephoneID"
              type="text"
              placeholder="Numero de telephone (obligatoire si MeNotifierTelephone)"
              formControlName = "telephoneUsager"
              [ngClass]="{'is-valid': (problemeForm.get('telephoneUsager').touched ||
              problemeForm.get('telephoneUsager').dirty) &&
              problemeForm.get('telephoneUsager').valid , 'is-invalid': (problemeForm.get('telephoneUsager').touched ||
              problemeForm.get('telephoneUsager').dirty) &&
              !problemeForm.get('telephoneUsager').valid }" />

              <span class="form-text" *ngIf="(problemeForm.get('telephoneUsager').touched ||
                problemeForm.get('telephoneUsager').dirty) &&
                (problemeForm.get('telephoneUsager').errors ||
                problemeForm.get('telephoneUsager').errors)">
                <span *ngIf="problemeForm.get('telephoneUsager').errors?.required">
                  <small class="text-muted">
                    Merci de saisir votre numéro de téléphone.
                  </small>
               </span> 

               <span *ngIf="problemeForm.get('telephoneUsager').errors?.minlength">
                  <small class="text-muted">
                  Veuillez entrer plus de caractères.
                  </small>
                  </span>

                  <span *ngIf="problemeForm.get('telephoneUsager').errors?.maxlength">
                      <small class="text-muted">
                      Veuillez entrer moins de caractères.
                      </small>
                      </span> 

                      <span *ngIf="problemeForm.get('telephoneUsager').errors?.pattern">
                          <small class="text-muted">
                          Merci d'entrer seulement des chiffres.
                          </small>
                          </span> 

              </span>  
            </div>
          </div>

          <!-- Zone adresseCourriel -->
          <div class="form-group row">
            <label for="adresseCourrielID" class="col-md-2 col-form=label text-right">Adresse Courriel :</label>
            <!-- Indiquer le formGroupName -->
            <div class="col-md-4" formGroupName = "notifierGroup">
              <input class="form-control"
              id="adresseCourrielID"
              type="text"
              placeholder="Adresse courriel (obligatoire si MeNotifierCourriel)"
              formControlName = "adresseCourriel"
              [ngClass]="{'is-valid': (problemeForm.get('notifierGroup.adresseCourriel').touched ||
              problemeForm.get('notifierGroup.adresseCourriel').dirty) &&
              problemeForm.get('notifierGroup.adresseCourriel').valid,
              'is-invalid': (problemeForm.get('notifierGroup.adresseCourriel').touched ||
              problemeForm.get('notifierGroup.adresseCourriel').dirty) &&
              !problemeForm.get('notifierGroup.adresseCourriel').valid }" />

              <span class="form-text" *ngIf="(problemeForm.get('notifierGroup.adresseCourriel').touched ||
                problemeForm.get('notifierGroup.adresseCourriel').dirty) &&
                (problemeForm.get('notifierGroup.adresseCourriel').errors ||
                problemeForm.get('notifierGroup.adresseCourriel').errors)"> 

                <span *ngIf="problemeForm.get('notifierGroup.adresseCourriel').errors?.required">
                    <small class="text-muted">
                    Merci d'entrer votre adresse électronique.
                    </small>
                    </span> 
                    <span *ngIf="problemeForm.get('notifierGroup.adresseCourriel').errors?.pattern">
                        <small class="text-muted">
                        S.V.P. entrer les informations dans un format valide.
                        </small>
                        </span>

              </span>

            </div>
          </div>

          <!-- Zone confirmerCourriel -->
          <div class="form-group row">
            <label for="adresseCourrielID" class="col-md-2 col-form=label text-right">Confirmer Courriel :</label>
            <!-- Indiquer le formGroupName -->
            <div class="col-md-4" formGroupName = "notifierGroup">
              <input class="form-control"
              id="confirmerCourrielID"
              type="text"
              placeholder="Confirmer courriel (obligatoire si MeNotifierCourriel)"
              formControlName = "confirmerCourriel"
              [ngClass]="{'is-valid': (problemeForm.get('notifierGroup.confirmerCourriel').touched ||
                problemeForm.get('notifierGroup.confirmerCourriel').dirty) &&
                problemeForm.get('notifierGroup.confirmerCourriel').valid,
                'is-invalid': (problemeForm.get('notifierGroup.confirmerCourriel').touched ||
                problemeForm.get('notifierGroup.confirmerCourriel').dirty) &&
                !problemeForm.get('notifierGroup.confirmerCourriel').valid ||
                problemeForm.get('notifierGroup').errors?.match}" />

                <span class="form-text" *ngIf="(problemeForm.get('notifierGroup.confirmerCourriel').touched ||
                problemeForm.get('notifierGroup.confirmerCourriel').dirty) &&
                (problemeForm.get('notifierGroup.confirmerCourriel').errors ||
                problemeForm.get('courrielGroup')?.errors)">
                  <span *ngIf="problemeForm.get('notifierGroup.confirmerCourriel').errors?.required">
                    <small class="text-muted">
                    Confirmez votre adresse courriel (la réécrire)
                    </small>
                  </span>
                  <span *ngIf="problemeForm.get('notifierGroup').errors?.match">
                    <small class="text-muted">
                    Le courriel de confirmation n'est pas le même que le courriel. Le corriger.
                    </small>
                  </span>
                </span> 

            </div>
          </div>

          <!-- Zone de texte # Unité  -->         
          <div class="form-group row">               
            <label for="noUniteId" class="col-md-2 col-form-label text-right"># Unité :</label>     
            <div class="col-md-10">       
              <input class="form-control"        
              id="noUniteId"        
              type="text"        
              placeholder="Numéro de l'unité si connu"        
              formControlName="noUnite" />     
            </div>   
          </div>

          <!-- Zone de texte DESCRIPTION DU PROBLÈME  -->         
          <div class="form-group row">               
            <label for="descriptionProblemeId" class="col-md-2 col-form-label textright">Description du problème :</label>     
            <div class="col-md-10">       
              <textarea class="form-control"        
              rows="3"                     
              id="descriptionProblemeId"
              type="text"        
              placeholder="Décrire le propblème ici (obligatoire)"        
              formControlName="descriptionProbleme"                   
              [ngClass]="{'is-valid': (problemeForm.get('descriptionProbleme').touched || 
              problemeForm.get('descriptionProbleme').dirty) && 
              problemeForm.get('descriptionProbleme').valid,              
              'is-invalid': (problemeForm.get('descriptionProbleme').touched || 
              problemeForm.get('descriptionProbleme').dirty) &&             
              !problemeForm.get('descriptionProbleme').valid }"></textarea> 
 
              <span class="form-text" *ngIf="(problemeForm.get('descriptionProbleme').touched ||
                    problemeForm.get('descriptionProbleme').dirty) &&              
                    problemeForm.get('descriptionProbleme').errors"> 
 
            <span *ngIf="problemeForm.get('descriptionProbleme').errors.required">                 
              <small  class="text-muted">N'oubliez pas de décriree le plus clairement possible le problème rencontré.</small>             
            </span> 
 
            <span *ngIf="problemeForm.get('descriptionProbleme').errors.minlength">               
              <small  class="text-muted">La description du problème doit comporter plus de 5 caractères.</small>
              </span>              
            </span>     
          </div>   
        </div> 
        
        <!-- Zone de texte # Unité  -->
        <div class="form-group row">               
          <label for="dateProblemeId" class="col-md-2 col-form-label textright">Date :</label>     
          <div class="col-md-10">
          <input class="form-control"        
          id="dateProblemeId"        
          type="text"        
          formControlName="dateProbleme" />     
        </div>   
      </div>
      
       <!-- DEBUT Zone bouton sauvegarder -->     
       <div class="form-group row">         
         <div class="col-md-2"></div>         
         <div class="col-md-10">             
           <span>                                                        
             <button class="btn btn-primary"                         
             type="submit"                                                       
             [disabled]="!problemeForm.valid">                   
             <fa name="save"></fa>                   
             &nbsp;&nbsp;Sauvegarder                 
            </button>             
          </span>         
        </div>     
      </div>     
      <!-- FIN Zone bouton sauvegarder -->

        </form>
        <!-- FIN du formulaire -->
      </div>
      
    </div>
  </div>
  
