  <br />
  <div class="container">
    <h5 class="card-header" style="background-color: gray; color:white"> Déclarer un problème</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <div class="card-text">
        <form class="form-horizontal"
        novalidate
        (ngSubmit)= "save()"
        [formGroup]="problemeForm">
          <div class="form-group row">
            <label for="prenom" class="col-md-2 col-form-label text-right">Prénom :</label>
            <div class="col-md-10">
              <input class="form-control"
              id="prenom"
              type="text"
              placeholder="Prénom (obligatoire)"
              formControlName="prenom"
              [ngClass]="{'is-invalid': (problemeForm.get('prenom').touched ||
              problemeForm.get('prenom').dirty) &&
              !problemeForm.get('prenom').errors.longueurMinimum,
              'is-valid':(problemeForm.get('prenom').touched ||
              problemeForm.get('prenom').dirty &&
              problemeForm.get('prenom').errors.longueurMinimum)}" />
              <span class="form-text" *ngIf="(problemeForm.get('prenom').touched ||
                problemeForm.get('prenom').dirty) &&
                problemeForm.get('prenom').errors">
                <span *ngIf="!problemeForm.get('prenom').errors.longueurMinimum && !problemeForm.get('prenom').errors.required">
                  <small class="text-muted">
                    Indiquer au moin 3 caractères.
                  </small>
                </span>
                <span *ngIf="problemeForm.get('prenom').errors.required">
                  <small class="text-muted">
                    Indiquer votre prénom.
                  </small>
                </span>
              </span>
              <br />
            </div>
            <label for="nom" class="col-md-2 col-form-label text-right">Nom :</label>
            <div class="col-md-10">
              <input class="form-control"
              id="nom"
              type="text"
              placeholder="Nom (obligatoire)"
              formControlName="nom"
              [ngClass]="{'is-invalid': (problemeForm.get('nom').touched ||
              problemeForm.get('nom').dirty) &&
              !problemeForm.get('nom').errors.longueurMinimum,
              'is-valid':(problemeForm.get('nom').touched ||
              problemeForm.get('nom').dirty &&
              problemeForm.get('nom').errors.longueurMinimum)}" />
              <span class="form-text" *ngIf="(problemeForm.get('nom').touched ||
                problemeForm.get('nom').dirty) &&
                problemeForm.get('nom').errors">
                <span *ngIf="!problemeForm.get('nom').errors.longueurMinimum && !problemeForm.get('nom').errors.required">
                  <small class="text-muted">
                    Indiquer au moin 3 caractères.
                  </small>
                </span>
                <span *ngIf="problemeForm.get('nom').errors.required">
                  <small class="text-muted">
                    Indiquer votre nom.
                  </small>
                </span>
              </span>
              <br />
            </div>
          </div>
          <div class="form-group row">
            <label for="noTypeID" class="col-md-2 col-form-label text-rigth">Type de problème :</label>
            <div class="col-sm-10">
              <select class="form-control" id="noTypeId" formControlName="noType"
              [ngClass]="{'is-invalid': (problemeForm.get('noType').touched ||
              problemeForm.get('noType').dirty) &&
              !problemeForm.get('noType').valid,
              'is-valid':(problemeForm.get('noType').touched ||
              problemeForm.get('noType').dirty &&
              problemeForm.get('noType').valid)}" >
                <option value="">Sélectionner un type de problème</option>
                <option *ngFor="let cat of typeProbleme" [value]="cat.id">{{cat.descriptionType}}</option>
              </select>
              <span class="form-text" *ngIf="(problemeForm.get('noType').touched ||
                problemeForm.get('noType').dirty) &&
                problemeForm.get('noType').errors">
                <span *ngIf="!problemeForm.get('noType').valid">
                  <small class="text-muted">
                    Sélectionner un type de problème.
                  </small>
                </span>
              </span>
            </div>
            
          </div>
          <!-- Bouton radio -->
          <div class="form-group row">
            <div class="col-md-2"></div>
              <label for ="notificationId" class ="col-md-10 col-form-label">Choix de la notification :</label>
              <div class="col-md-2"></div>
              <div class="col-md-10">
                  <label class="radio-inline">
                    <input type="radio"
                           value="NePasMeNotifier"
                           id="notificationMoiId"
                           formControlName="notifier">&nbsp;Ne pas me notifier
                  </label>
                  &nbsp;&nbsp;&nbsp;
                  <label class="radio-inline">
                    <input type="radio"
                           value="MeNotifierTelephone"
                           id="notificationMoiId"
                           formControlName="notifier">&nbsp;Notifier par Téléphone
                  </label>
                  &nbsp;&nbsp;&nbsp;
                  <label class="radio-inline">
                    <input type="radio"
                           value="MeNotifierCourriel"
                           id="notificationMoiId"
                           formControlName="notifier">&nbsp;Notifier par Courriel
                  </label>            
            </div>
          </div>
          <!-- Zone Telephone -->
          <div class="form-group row">
            <label for="telehponeID" class="col-md-2 col-form=label text-right">Teléphone :</label>
            <!-- Indiquer le formGroupName -->
            <div class="col-md-4">
              <input class="form-control"
              id="telephoneID"
              type="text"
              placeholder="Numero de telephone (obligatoire si MeNotifierTelephone)"
              formControlName = "telephoneUsager"/>
            </div>
          </div>

          <!-- Zone adresseCourriel -->
          <div class="form-group row">
            <label for="adresseCourrielID" class="col-md-2 col-form=label text-right">Adresse Courriel :</label>
            <!-- Indiquer le formGroupName -->
            <div class="col-md-4" formGroupName = "notifierGroup">
              <input class="form-control"
              id="adresseCourrielID"
              type="text"
              placeholder="Adresse courriel (obligatoire si MeNotifierCourriel)"
              formControlName = "adresseCourriel"/>
            </div>
          </div>

          <!-- Zone confirmerCourriel -->
          <div class="form-group row">
            <label for="adresseCourrielID" class="col-md-2 col-form=label text-right">Confirmer Courriel :</label>
            <!-- Indiquer le formGroupName -->
            <div class="col-md-4" formGroupName = "notifierGroup">
              <input class="form-control"
              id="confirmerCourrielID"
              type="text"
              placeholder="Confirmer courriel (obligatoire si MeNotifierCourriel)"
              formControlName = "confirmerCourriel"/>
            </div>
          </div>

        </form>
      </div>
      
    </div>
  </div>
  
